<div component="Search" class="search">
    <p>Search for the best value flights</p>
    <em>(Example values are filled in)</em>
    <form class="flight-search-form">
        <label>Origin <input type="text" placeholder="ORIGIN" name="input-origin" ng-model="$ctrl.searchInput.origin" /></label>
        <label>Destination <input type="text" placeholder="DESTINATION" name="input-dest" ng-model="$ctrl.searchInput.destination" /></label><br/>
        <label>Date <input type="text" placeholder="YYYY-MM-DD" name="input-departure-date" ng-model="$ctrl.searchInput.departureDate" /></label>
        <label>Adults <select ng-model="$ctrl.searchInput.numAdult" ng-options="numPass.toString() for numPass in $ctrl.passengerCountArr"></select></label>
        <label><select ng-model="$ctrl.searchInput.numChild" ng-options="numPass.toString() for numPass in $ctrl.passengerCountArr"></select></label>
        <button class="btn btn-default pull-right" ng-click="$ctrl.searchFlights()" aria-haspopup="true" aria-expanded="true">
            Search
        </button>   
    </form>
    <results></results>
</div>